
form.change-password {
     padding: 0 50px; 
    height: 70%;
    width: 70%;
    text-align: center;
    margin-left: 10%;
} 
.change-password input{
    /* background: #eeee; */
    border-top:white;
    border-left: none;
    border-right: none;
    border-bottom:#333333;
    outline: none;
    padding: 12px 15px;
    margin: 15px 0;
    width:90%;
    display:flexbox;
    
}
.change-password{
    position: absolute;
    top: 10%;
    /* left: 25%; */
    font-family: 'Asul', sans-serif;
    padding:20px;
    height: 600px;
    width: 50%;
    background: rgb(87, 77, 77);
    border-radius: 10px;
    box-shadow : 0 14px 28px rgba(0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.change-password h1 {
    font-weight: bold;
    margin: 10px 0px;
}
.change-password button{
    border-radius: 20px;
    border: 1px solid #2bbcff;
    background:#B00020;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.change-password button:hover {
    background: linear-gradient(56deg,  #82a7df,#00c6a7);
    color: #333333;
}

.sign-in-container{
  left:0;
  width: 50%;
  z-index: 2;
  opacity:0;
}

.form-field.error input {border:2px solid red;}
.form-field.success input {border:2px solid #4BB543;}
.form-field small {color: #B00020;}
.form-container small {color:#B00020;}